extends ../layout

block content
	.container
		.row
			form.form-horizontal(method="post",action="/admin/food/save",enctype="multipart/form-data")
				if food._id
					input(type="hidden",name="food[_id]",value="#{food._id}")
				.form-group
					label.col-sm-2.control-label(for="inputCategory") 美食分类
					.col-sm-10
						input#inputCategory.form-control(type="text",name="food[categoryName]",value=food.categoryName)
				.form-group
					label.col-sm-2.control-label 分类选择
					.col-sm-10
						each cat in categories
							label.radio-inline
								if food.category
									input(type="radio",name="food[category]",value=cat._id,checked=cat._id.toString()==food.category.toString())
								else
									input(type="radio", name="food[category]", value=cat._id) 
								| #{cat.name}
				.form-group
					label.col-sm-2.control-label(for="inputName") 美食名字
					.col-sm-10
						input#inputName.form-control(type="text",name="food[name]",value=food.name)
				.form-group
					label.col-sm-2.control-label(for="inputPrice") 美食价格
					.col-sm-10
						input#inputPrice.form-control(type="text",name="food[price]",value=food.price)
				.form-group
					label.col-sm-2.control-label(for="inputPoster") 美食画面
					.col-sm-10
						input#inputPoster.form-control(type="text",name="food[poster]",value=food.poster)
				.form-group
					label.col-sm-2.control-label(for="uploadPoster") 图片上传
					.col-sm-10
						input#uploadPoster(type="file", name="uploadPoster")
				.form-group
					label.col-sm-2.control-label(for="inputSat") 客户满意度
					.col-sm-10
						input#inputSat.form-control(type="text",name="food[sat]",value=food.sat)
				.form-group
					label.col-sm-2.control-label(for="inputSummary") 美食简介
					.col-sm-10
						input#inputSummary.form-control(type="text",name="food[summary]",value=food.summary)
				.form-group
					.col-sm-offset-2.col-sm-10
						button.btn.btn-default(type="submit") 录入