extends ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 美食名字
						th 价格
						th 满意度
						th 录入时间
						th 浏览次数
						th 查看
						th 更新
						th 删除
				tbody
					each item in foods
						tr(class="item-id-#{item._id}")
							td #{item.name}
							td #{item.price}￥
							td #{item.sat}
							td #{moment(item.meta.createAt).format('YYYY/MM/DD')}
							td #{item.pv}
							td: a(target="_blank",href="/food/#{item._id}") 查看
							td: a(target="_blank",href="/admin/food/update/#{item._id}") 修改
							td 
								button.btn.btn-danger.del(type="button",data-id="#{item._id}") 删除
	script(src="/js/admin.js")